@import './header/header.css';
@import './promo/promo.css';
@import './cakes-gallery/cakes-gallery.css';
@import './individual-order/individual-order.css';
@import './reviews/reviews.css';
@import './about-us/about-us.css';

body {
    background-color: #fbebea;
}

.wrapper {
    margin: 0 auto;
    max-width: 1366px;
}

.btn {
    background-color: #f50049;
    border-radius: 25.5px;
    font-family: 'Questrial', sans-serif;
    border: 0;
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.btn:hover {
    box-shadow: 0px 5px 7px 1px rgba(255, 0, 67, 0.3);
    border-radius: 25.5px;
}

.fa-chevron-left::before {
    color: #d77c8f;

}

.fa-chevron-right::before {
    color: #d77c8f;

}




.citation {
    text-align: center;
}

.citation__quotes {
    font-family: 'Playfair Display', serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 204px;
    color: #fffefe;
    margin-top: 0;
    margin-bottom: 0;
}

.citation__text {
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    line-height: 37px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.01em;
    color: #2d2829;
}

.advantages {
    margin-top: 143px;
}

.advantages__header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: #2d2829;
}

.advantages__subtitle {
    text-align: center;
    margin-top: 0;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    font-weight: 400;
    color: #32313d;
}

.food__wrapper {
    position: relative;
    margin-left: -25px;
}

.advantages__wrapper {
    display: flex;
}

.food__plants__wrapper {

    display: flex;
}

.rasberry {
    position: absolute;
    width: 52px;
    height: 54px;
}

.leaf {
    position: absolute;
    left: 98px;
    top: -100px;
}

.cherry {
    top: -60px;
    left: 294px;
    position: absolute;
}

.berries-cake {
    width: 495px;
    height: 523px;
}

.leafs {
    position: absolute;
    left: 389px;
    top: 457px;
}

.advantages__information {
    display: flex;
    margin-top: 132px;
    margin-left: 125px;
}

.advantages__icon {
    width: 61px;
    height: 61px;
    margin-right: 20px;
    margin-top: 8px;
}

.advantage__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}



.advantage__text {
    font-family: 'Questrial', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.advantages__text__wrapper p:nth-child(2) {
    margin-bottom: 40px;
}

.second-advantage__wrapper {
    margin-top: 342px;
    margin-left: 73px;
    margin-right: 88px;
}

.second-advantage__header {
    margin-top: 0;
    margin-bottom: 29px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: #2d2829;
}

.second-advantage__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    font-weight: 400;
    color: #32313d;
}

.second-advantage__text {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.second-advantage__img__wrapper {
    position: relative;
}

.second-advantage__dots__img {
    margin-top: -73px;
    width: 768px;
    height: 802px;
    position: absolute;
}

.second-advantage__plate__img {
    left: 103px;
    width: 627px;
    height: 627px;
    position: absolute;
}

.second-advantage__cake__img {
    top: 25px;
    left: 131px;
    position: absolute;
    width: 590px;
    height: 577px;
}

.how-order {
    margin-top: 95px;
    width: 1366px;
    height: 703px;

    background-image: url(../img/how-order/background_box.jpg);
    position: relative;
}

.how-order__label__img {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 216px;
    left: 441px;
}

.how-order__label__text {
    width: 70px;
    height: 20px;
    position: absolute;
    top: 263px;
    left: 470px;
}

.how-order__text {
    margin-left: 831px;
    padding-top: 128px;
}

.how-order__header{
    margin-top: 0;
    margin-bottom: 49px;
    font-family: 'Playfair Display', serif;
font-size: 40px;
font-weight: 700;
color: #ffffff;
}

.how-order__step__number{
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
font-size: 64.3px;
font-weight: 700;
letter-spacing: 0.01em;
color: #ffffff;
}

.how-order__step__title{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Questrial', sans-serif;
font-size: 21px;
font-weight: 700;
letter-spacing: 0.01em;
color: #ffffff;
}

.how-order__step__body{
    margin-top: 0;
    margin-bottom: 36px;
    font-family: 'Questrial', sans-serif;
font-size: 20px;
line-height: 24px;
font-weight: 400;
color: #ffffff;
}

.how-order__step__wrapper {
    display: flex;
}