@import './header/header.css';
@import './promo/promo.css';

body {
    background-color: #fbebea;
}

.wrapper {
    margin: 0 auto;
    max-width: 1366px;
}

.btn {

    background-color: #f50049;
    border-radius: 25.5px;
    font-family: 'Questrial', sans-serif;
    border: 0;
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}



.cakes_gallery__wrapper {
    margin-top: 65px;
}

.cakes_gallery {
    min-height: 1520px;
    background-color: #fbebea;
}

.cakes_gallery__title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    line-height: 65px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #2d2829;
    margin-left: 75px;
}

.cakes_gallery__first {
    display: flex;
}

.little_cards {
    margin-left: 60px;
}

.classic_card {
    margin-left: 70px;
    position: relative;
    width: 696px;
    height: 653px;
    box-shadow: 5px 8.66px 13px 2px rgb(174, 174, 174);
}

.classic_card:hover,
.muss_card:hover,
.wedding_card:hover,
.man_card:hover,
.woman_card:hover,
.kids_card:hover {
    box-shadow: 5px 8.66px 13px 2px rgb(163, 6, 60);
}


.classic_card_title,
.muss_card_title,
.wedding_card_title,
.man_card_title,
.woman_card_title,
.kids_card_title {
    position: absolute;
}

.classic_title_cake {
    margin-top: 36px;
    margin-left: 47px;
    margin-bottom: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2d2829;
}

.classic_number_cake {
    margin-top: 12px;
    margin-bottom: 0;
    margin-left: 46px;
    opacity: 0.7;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2d2829;
}

.classic_card_footer {
    position: absolute;
    display: flex;
    bottom: 8px;
    right: 16px;

}

.classic_card_footer_text {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    bottom: 50px;
    font-weight: 400;
    color: #2d2829;
}

.fa-arrow-right:before {
    color: #757575;
    display: block;
    margin: 24px;
    width: 17px;
}

.fa-arrow-right:hover::before {
    color: #9d6d7d;
}

.muss_card {
    margin-bottom: 40px;
    position: relative;
    width: 484px;
    height: 305px;
    box-shadow: 5px 8.66px 13px 2px rgb(174, 174, 174);
}


.muss_title_cake,
.wedding_title_cake,
.man_title_cake,
.woman_title_cake,
.kids_title_cake {
    font-family: 'Questrial', sans-serif;
    margin-left: 49px;
    margin-top: 36px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    color: #2d2829;
}

.muss_number_cake,
.wedding_number_cake,
.man_number_cake,
.woman_number_cake,
.kids_number_cake {
    opacity: 0.7;
    margin-left: 49px;
    margin-top: 6px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2d2829;
}

.muss_card_footer,
.wedding_card_footer,
.man_card_footer,
.woman_card_footer,
.kids_card_footer {
    position: absolute;
    display: flex;
    bottom: 8px;
    right: 16px;

}

.wedding_card,
.man_card,
.woman_card {
    position: relative;
    width: 484px;
    height: 305px;
    box-shadow: 5px 8.66px 13px 2px rgb(174, 174, 174);
}

.cakes_gallery__second {
    display: flex;
    margin-top: 45px;
}

.little_cards_second {
    margin-left: 72px;
}

.man_card {
    margin-bottom: 40px;
}

.kids_card {
    margin-left: 60px;
    position: relative;
    width: 696px;
    height: 653px;
    box-shadow: 5px 8.66px 13px 2px rgb(174, 174, 174);
}

.individual-order {
    min-height: 2180px;
    margin-top: 105px;
    background-color: #fbebea;
}

.titles {
    text-align: center;
}

.titles__heading {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #2d2829;
}

.titles__subtitle {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    margin: 16px;
    font-weight: 400;
    color: #32313d;
}

.step {
    display: flex;
    margin: 49px 73px 35px;
    width: 1220px;
    height: 571px;
    background-color: #ffffff;
    position: absolute;

}



.step__title {
    margin-top: 44px;
    margin-left: 83px;
    width: 130px;
}

.step__number {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    font-size: 59px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #f50049;
}

.step__name {
    margin-top: 0px;
    font-family: 'Playfair Display', serif;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #f50049;
}

.cake-ganash {
    display: flex;
    margin-top: 88px;
}

.cake-ganash__img {
    width: 344px;
    height: 390px;
}

.cake-ganash__description {
    width: 280px;
    margin-left: 44px;
    margin-top: 71px;
}

.description__header {
    margin-bottom: 12px;
    margin-top: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #2f2f2f;
}

.description__article {
    margin-top: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #2f2f2f;
}

.description__price {
    margin-top: 24px;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    color: #2f2f2f;
}

.cake-ganash__btn {
    width: 180px;
    height: 51px;
}

.fa-chevron-left::before {
    color: #d77c8f;
    margin-right: 90px;
}

.fa-chevron-right::before {
    color: #d77c8f;
    margin-left: 135px;
}

.cake-ganash__arrow-left,
.cake-ganash__arrow-left {
    margin-top: 186px;
}

.cake-ganash__number {
    margin-top: 376px;
    opacity: 0.7;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #2f2f2f;
}
