@import './header/header.css';
@import './promo/promo.css';
@import './cakes-gallery/cakes-gallery.css';

body {
    background-color: #fbebea;
}

.wrapper {
    margin: 0 auto;
    max-width: 1366px;
}

.btn {
    background-color: #f50049;
    border-radius: 25.5px;
    font-family: 'Questrial', sans-serif;
    border: 0;
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.btn:hover {
    box-shadow: 0px 5px 7px 1px rgba(255, 0, 67, 0.3);
    border-radius: 25.5px;
}



.individual-order {
    min-height: 2180px;
    margin-top: 105px;
    background-color: #fbebea;
}

.titles {
    text-align: center;
}

.titles__heading {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #2d2829;
}

.titles__subtitle {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    margin: 16px;
    font-weight: 400;
    color: #32313d;
}



.step {
    margin: 49px 73px 35px;
    width: 1220px;
    height: 571px;
    background-color: #ffffff;
    box-shadow: 0px 5px 12.74px 0.26px rgba(139, 14, 62, 0.1);
}

.first-step {
    display: flex;

}


.step__title {
    padding-top: 44px;
    margin-left: 83px;
    width: 130px;
}

.step__number {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 59px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #f50049;
}

.step__name {
    margin-top: 0px;
    font-family: 'Playfair Display', serif;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #f50049;
}

.cake-ganash {
    display: flex;
    margin-top: 88px;
}

.cake-ganash__img {
    width: 344px;
    height: 390px;
}

.cake-ganash__description {
    width: 280px;
    margin-left: 44px;
    margin-top: 71px;
}

.description__header {
    margin-bottom: 12px;
    margin-top: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #2f2f2f;
}

.description__article {
    margin-top: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #2f2f2f;
}

.description__price {
    margin-top: 24px;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    color: #2f2f2f;
}

.cake-ganash__btn {
    width: 180px;
    height: 51px;
}

.fa-chevron-left::before {
    color: #d77c8f;

}

.fa-chevron-right::before {
    color: #d77c8f;

}

.cake-ganash__arrow-left {
    width: 9px;
    height: 16px;
    margin-top: 186px;
    margin-right: 91px;
}

.cake-ganash__arrow-right {
    width: 9px;
    height: 16px;
    margin-top: 186px;
    margin-left: 135px;
}

.cake-ganash__number {
    margin-top: 376px;
    opacity: 0.7;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #2f2f2f;
}

.second-step {
    margin-top: 35px;
    display: flex;
}

.second-step_title {
    padding-top: 75px;
}

.size__wrapper {
    display: flex;
    min-width: 870px;
    margin-top: 140px;
    margin-right: 188px;
    margin-left: 15px;
}

.size__descr {
    opacity: 0.8;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #2f2f2f;
}

.size__1kg {
    width: 130px;
    height: 110px;
    padding-top: 92px;
    position: relative;
}

.size__label__1kg {
    top: 130px;
    left: 40px;
}

.size__label {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #2f2f2f;
    position: absolute;

}


.size__2kg {
    width: 154px;
    height: 154px;
    margin-left: 68px;
    padding-top: 45px;
    position: relative;
}

.size__label__2kg {
    top: 114px;
    left: 60px;
}

.second__descr {
    margin-left: 20px;
}

.size__5kg {
    width: 173px;
    height: 174px;
    margin-left: 64px;
    padding-top: 28px;
    position: relative;
}

.size__5kg__img {
    position: relative;
}

.size__in {
    position: absolute;
    top: 30px;
    left: 30px;
}

.size__label__5kg {
    top: 100px;
    left: 72px;
}

.size__8kg {
    width: 200px;
    height: 202px;
    position: relative;
    margin-left: 73px;
}

.size__in__8kg {
    top: 42px;
    left: 46px;
}

.size__mid {
    position: absolute;
    top: 21px;
    left: 24px;
}

.size__label__8kg {
    top: 85px;
    left: 88px;
}

.third-step {
    height: 752px;
}

.third-step__cakes {
    display: flex;

}

.berry-cake,
.marshmellou-cake {
    width: 321px;
    height: 431px;
    position: relative;
}


.design-titles {
    position: absolute;
    top: 320px;
    left: 87px;
    bottom: 31px;
}

.design-titles__header {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
    color: #2f2f2f;
}

.design-titles__price {
    font-family: 'Playfair Display', serif;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
    color: #2f2f2f;
}

.first-cake-png {
    width: 252px;
    height: 334px;
    opacity: 0.65;
    margin-left: 17px;
    margin-top: 50px;
    margin-right: 22px;
}

.design__card {

    background-color: rgb(148, 148, 148);
    box-shadow: 0px 7px 12.74px 0.26px rgba(0, 0, 0, 0.05);
}

.design__card:hover {
    background-color: rgb(148, 148, 148);
    box-shadow: 0px 6px 9.7px 0.3px rgba(0, 0, 0, 0.14);
}

.berry-cake {
    margin-right: 41px;
}

.marshmellou-cake {
    margin-right: 71px;
}

.design__arrow-left {
    width: 9px;
    height: 16px;
    margin-top: 209px;
    margin-right: 70px;
}

.design__arrow-right {
    width: 9px;
    height: 16px;
    margin-top: 209px;
}

.third-step__cakes__gallery {
    display: flex;
    margin-top: -75px;
}

.design__number {
    margin-top: 420px;
    opacity: 0.7;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #2f2f2f;
}

.third-step__choice {
    margin-top: 27px;
    margin-left: 73px;
}

.choice__header {
    font-family: 'Playfair Display', serif;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #2d2829;
}

.choice__wrapper {
    display: flex;
    margin-top: 23px;
}

.choice__title {
    font-family: 'Pacifico', cursive;
    ;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 27px;
    font-weight: 400;
    color: #f50049;
}

.choice__name {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
    color: #2d2829;
}

.choice__span {
    width: 249px;
    height: 1px;
    margin-top: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(187, 174, 174);
    border-style: solid;
    background-color: rgb(187, 174, 174);
}

.size__span {
    width: 137px;
}

.choice__taste {
    margin-right: 83px;
}

.choice__size {
    margin-right: 85px;
}

.choice__decor {
    margin-right: 26px;
}

.btn__order {
    width: 226px;
    height: 51px;
    margin-top: 30px;
}

.reviews {
    min-height: 620px;
    margin-top: -50px;
}

.garland {
    display: flex;
    margin-top: 0;
}

.garland-left {
    margin-right: 270px;
}

.reviews__header {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #2d2829;
}

.review__wrapper {
    display: flex;
    margin-top: 64px;
    margin-left: 258px;
}

.person__img {
    margin-left: 100px;
    margin-right: 54px;
}

.person__name {
    font-family: 'Questrial', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 27px;
    font-weight: 700;
    color: #2d2829;
}

.person__job {
    font-family: 'Questrial', sans-serif;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 400;
    color: #2d2829;
}

.person__review {
    font-family: 'Questrial', sans-serif;
    font-size: 18.5px;
    line-height: 24px;
    font-weight: 400;
    width: 370px;
    color: #2d2829;
}

.review__more {
    font-size: 19px;
    text-decoration: underline;
    color: rgba(210, 1, 73, 0.702);
    margin-left: 10px;
    font-style: italic;
}

.review__arrow-left {
    width: 9px;
    height: 16px;
    margin-top: 105px;
}

.review__arrow-right {
    width: 9px;
    height: 16px;
    margin-top: 105px;
    margin-left: 107px;
}

.review__number {
    opacity: 0.7;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #f50049;
    margin-top: 230px;
}