.step__content_first, .description__wrapper {
  display: flex;
}

.step__content_first .description__wrapper{
  margin-top: 88px;
}

.description__img {
  max-width: 344px;
  max-height: 390px;
}

.description__content {
  max-width: 280px;
}

.description__wrapper .description__content{
  margin-left: 44px;
  margin-top: 71px;
}

.description__header {
  margin-bottom: 12px;
  margin-top: 0;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #2f2f2f;
}

.description__article {
  margin-top: 0;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2f2f2f;
}

.description__price {
  margin-top: 24px;
  margin-bottom: 50px;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  color: #2f2f2f;
}

.step__btn_first {
  width: 180px;
  height: 51px;
}

.arrow-left {
  width: 9px;
  height: 16px;
}

.description__wrapper .arrow-left{
  margin-top: 186px;
  margin-right: 91px;
}

.arrow-right {
  width: 9px;
  height: 16px;
}

.description__wrapper .arrow-right{
  margin-top: 186px;
  margin-left: 135px;
}

.description__number {
  margin-top: 376px;
  opacity: 0.7;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2f2f2f;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .step__content_first {
    margin-top: 53px;
    margin-left: -45px;
  }

  .description__img {
    width: 210px;
    height: 239px;
  }

  .description__content {
    margin-left: 25px;
    margin-top: 25px;
  }

  .description__header {
    margin-bottom: 8px;
    font-size: 18px;
  }

  .description__article {
    font-size: 14px;
    width: 190px;
  }

  .description__price {
    margin-top: 12px;
    margin-bottom: 26px;
    font-size: 20px;
  }

  .description__btn {
    width: 135px;
    height: 43px;
    font-size: 10px !important;
  }

  .arrow-left {
    position: relative;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
  }

  .description__wrapper .arrow-left{
    margin-top: 95px;
    margin-right: 42px;
  }

  .arrow-left .fas{
    position: absolute;
    top: 12px;
    left: 14px;
  }

  .arrow-right {
    position: relative;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50%;

  }

  .description__wrapper .arrow-right{
    margin-top: 95px;
    margin-left: -48px;
  }

  .arrow-right .fas{
    position: absolute;
    top: 12px;
    left: 17px;
  }

  .description__number {
    margin-top: 230px;
    font-size: 11px;
    margin-left: -70px;
  }

  .step__content_first .description__wrapper{
    margin-top: 53px;
    margin-left: -35px;
  }

}

