@import './contacts__social/contacts__social.css';

.contacts {
    height: 783px;
    padding-top: 82px;
    position: relative;
}

.contacts .inner__wrapper {
    display: flex;
}
.contacts .header {
    font-family: 'Playfair Display', serif;
    margin: 0 0 42px 0;
    font-size: 40px;
    font-weight: 700;
    color: #2d2829;
}

.contacts .subheader {
    margin: 0 0 19px 0;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    font-weight: 400;
    color: #32313d;
}

.form__wrapper .title {
    font-family: 'Questrial', sans-serif;
    margin: 0 0 54px 0;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.form .input {
    width: 550px;
    display: block;
    outline: none;
    border: none;
    opacity: 0.2;
    border-bottom: 1px solid #000000;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 43px;
    background-color: transparent;
}

.contacts__information {
    margin-left: 82px;
}

.contacts__information .img{
    position: absolute;
    top:230px;
    left: 435px;
}
.contacts__btn {
    margin-top: 80px;
    width: 180px;
    height: 51px;
}