.sweets-cake__img {
    margin-top: 25px;
    position: absolute;
    margin-left: 62px;
}


.sweets-strawberry1__img {
    margin-top: 45px;
    margin-bottom: 80px;
}

.sweets-strawberry2__img {
    margin-top: 130px;
    margin-left: -12em;
}

@media (max-width: 1024px) {
    .sweets-cake__img {
        margin-top: 13px;
        left: 344px;
        max-width: 424px;
        max-height: 548px;
    }

    .sweets {
        position: absolute;
        left: 391px;
    }

    .sweets-strawberry1__img {
        margin-top: 30px;
        margin-left: -70px;
        margin-bottom: 130px;
    }

    .sweets__bake {
        margin-left: -55px;
    }

    .sweets-strawberry2__img {
        margin-top: 100px;
        margin-left: -100px;
    }


}

@media  (max-width: 767px) {

    /* .sweets-cake__img{
        display: none;
    } */
    .sweets-cake__img {
        width: 100%;
        height: auto;
        top: -100px;
        clip: rect(auto, 220px, auto, auto);
        transform: rotate(-90deg);
        top: -207px;
        left: 0; 
    }

    .sweets {
        display: none;
    }
}
