@import './advantages__food/advantages__food.css';
@import './advantages__text.css';
@import './advantages__img.css';

.advantages {
  margin-top: 143px;
}

.advantages .section__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages .section__subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.advantages__wrapper {
  display: flex;
}

.information__wrapper .box .icon{
  margin-right: 20px;
  margin-top: 8px;
}

.information__wrapper .box  .icon:first-child{
  width: 61px;
  height: 61px;
}

.information__wrapper .box:nth-child(2) .icon{
  width: 80px;
  height: 50px;
}

.advantages .advantages__wrapper:last-child .text__wrapper{
  margin-top: 342px;
  margin-left: 73px;
  margin-right: 88px;
}

@media (min-width: 768px) and (max-width: 1024px){
  .advantages {
    margin-top: 74px;
  }
  
  .advantages .section__title {
    margin-bottom: 10px;
  }
  .information__inner .icon{
    margin-right: 20px;
    margin-top: 2px;
  }
  
  .information__inner .icon:first-child{
    width: 48px;
    height: 48px;
  }
  
  .information__wrapper .information__inner:nth-child(2) .icon{
    width: 63px;
    height: 38px;
  }
  
  .advantages .advantages__wrapper:last-child .text__wrapper{
    margin-top: 77px;
    margin-left: 47px;
  }
}