.advantages .advantages__wrapper:last-child .pictures__wrapper {
  position: relative;
}

.advantages .advantages__wrapper:last-child .pictures__wrapper .picture:nth-child(1){
  margin-top: -73px;
  width: 768px;
  height: 802px;
  position: absolute;
}

.advantages .advantages__wrapper:last-child .pictures__wrapper .picture:nth-child(2){
  left: 103px;
  width: 627px;
  height: 627px;
  position: absolute;
}

.advantages .advantages__wrapper:last-child .pictures__wrapper .picture:nth-child(3) {
  top: 25px;
  left: 131px;
  position: absolute;
  width: 590px;
  height: 577px;
}

@media  (max-width: 1024px){

  .advantages .advantages__wrapper:last-child .pictures__wrapper .picture:nth-child(1){
    width: 418px;
    height: 441px;
  }
  
  .advantages .advantages__wrapper:last-child .pictures__wrapper .picture:nth-child(2){
    left: 56px;
    top: -30px;
    width: 345px;
    height: 345px;
  }
  
  .advantages .advantages__wrapper:last-child .pictures__wrapper .picture:nth-child(3) {
    top: -15px;
    left: 72px;
    width: 324px;
    height: 317px;
  }
}