.information__wrapper {
  width: 475px;
  margin-top: 132px;
  margin-left: 125px;
}

.information__inner {
  display: flex;
}

.text__wrapper .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}



.text__wrapper .article {
  font-family: 'Questrial', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.advantages__wrapper .text__wrapper p:nth-child(2) {
  margin-bottom: 40px;
}

.advantages__wrapper .text__wrapper .section__title {
  margin-top: 0;
  margin-bottom: 29px;
  text-align: unset;
}

.advantages__wrapper .text__wrapper .section__subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: unset;
}

.text__wrapper .text {
  width: 455px;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

@media (max-width: 1024px) {
  .information__wrapper {
    width: 345px;
    margin-top: 70px;
    margin-left: 85px;
  }

  .text__wrapper .title {
    font-size: 15px;
  }

  .text__wrapper .article {
    font-size: 14px;
    line-height: 1.2;
  }

  .advantages__wrapper .text__wrapper .section__title {
    margin-bottom: 13px;
  }

  .advantages__wrapper .text__wrapper .section__subtitle {
    margin-bottom: 13px;
  }

  .text__wrapper .text {
    width: 320px;
    font-size: 14px;
    line-height: 1.2;
  }
}

@media (max-width: 767px) {

  .information__wrapper {
    width: 100%;
    height: 283px;
    background-color: #ffffff;
    margin-left: 0px;
    margin-top: 13px;
  }
  .advantages__wrapper .information__wrapper .box{
    display: block;
    text-align: center;
  }

  .advantages__wrapper .text__wrapper .section__title {
    margin-bottom: 13px;
  }

  .advantages__wrapper .text__wrapper .section__subtitle {
    margin-bottom: 7px;
  }
  .advantages__wrapper .text__wrapper p:nth-child(2) {
    margin-bottom: 15px;
  }

  .text__wrapper .text {
    margin-top: 0;
    width: 260px;
    font-size: 14px;
    line-height: 1.2;
  }
  .text__wrapper .title {
    margin-top: 13px;
    margin-bottom: 5px;
  }
}