.titles__wrapper {
  text-align: center;
}

.individual-order  .titles__wrapper .section__title{
  margin: 0;
}


.individual-order .titles__wrapper .section__subtitle{
  margin: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .individual-order .titles__wrapper .section__subtitle{
    margin-top: 11px;
  }

}