.titles__wrapper {
  text-align: center;
}

.titles__heading {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #2d2829;
}

.titles__subtitle {
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  font-weight: 400;
  color: #32313d;
}

.individual-order__subtitle{
  margin: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .titles__heading {
    font-size: 28px;
  }

  .titles__subtitle {
    font-size: 26px;
  }

  .individual-order__subtitle{
    margin-top: 11px;
  }

}