.label__img {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 216px;
  left: 441px;
}

.label__text {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 263px;
  left: 470px;
}

@media  (max-width: 1024px){
  .label__img {
    width: 87px;
    height: 87px;
    top: 120px;
    left: 90px;
  }
  
  .label__text {
    width: 48px;
    height: 14px;
    top: 153px;
    left: 110px;
  }
  
}
@media  (max-width: 767px){
  .label__img {
    width: 41px;
    height: 41px;
    top: 426px;
    left: 146px;
  }
  
  .label__text {
    width: 22px;
    height: 7px;
    top: 438px;
    left: 157px;
  }
  
}