.size__1kg {
	width: 130px;
	height: 110px;
	position: relative;
}
.size__label__1kg {
	top: 45px;
	left: 40px;
}
@media (max-width: 1024px) {
	.size__1kg {
		width: 77px;
		height: 77px;
	}
	.size__1kg__img {
		width: 77px;
		height: 77px;
	}
	.size__label__1kg {
		top: 30px;
		left: 30px;
	}
}
@media (max-width: 767px) {
	.size__1kg {
		margin-top: 49px;
		margin-left: 84px;
		width: 77px;
		height: 77px;
	}
	.size__1kg__img {
		width: 110px;
		height: 110px;
	}
	.size__label__1kg {
		top: 46px;
		left: 46px;
	}
	.size__wrapper {
		.dots__wrapper {
			position: absolute;
			top: 150px;
			left: 34px;
			margin-left: unset;
			.dot {
				&:last-child {
					display: none;
				}
			}
		}
	}
}
