@import './titles/titles.css';
@import './promo-btn/promo-btn.css';
@import './description/description.css';
@import './-sweets__wrapper/-sweets__wrapper.css';

.promo {
    display: flex;
    min-height: 920px;
    background-color: #fbebea;
    position: relative;
}


@media (min-width: 768px) and (max-width: 1024px) {

    .promo {
        min-height: 734px;
        margin: 0;
    }
}
