@import './titles/titles.css';
@import './__btn/__btn.css';
@import './description/description.css';
@import './-sweets__wrapper/-sweets__wrapper.css';

.promo__container {
    display: flex;
    min-height: 920px;
    background-color: #fbebea;
}


