.how-order .text__wrapper {
  margin-left: 831px;
  padding-top: 128px;
}

.how-order .text__wrapper .header {
  margin-top: 0;
  margin-bottom: 49px;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.step__wrapper .number {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif;
  font-size: 64.3px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.step__text{
  width: 445px;
}

.step__text .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Questrial', sans-serif;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.step__text .article  {

  margin-top: 0;
  margin-bottom: 36px;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.step__wrapper {
  display: flex;
}

@media (min-width: 768px) and (max-width: 1024px){
  .how-order .text__wrapper {
    margin-left: 330px;
    padding-top: 40px;
  }
  
  .how-order .text__wrapper .header {
    margin-bottom: 30px;
    font-size: 28px;
  }
  
  .step__wrapper .number {
    margin-right: 25px;
    font-size: 36px;
  }

  .step__text{
    width: 320px;
  }
  
  .step__text .title {
    margin-bottom: 5px;
    font-size: 15px;
  }
  
  .step__text .article  {
    font-size: 14px;
    margin-bottom: 30px;
  }
}