@import './how-order__label/how-order__label.css';
@import './how-order__text/how-order__text.css';

.how-order {
  margin-top: 95px;
  width: 1366px;
  height: 703px;
  background-image: url(../how-order/background_box.jpg);
  position: relative;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .how-order {
    margin-top: 95px;
    width: 768px;
    height: 420px;
    background-image: url(../how-order/background_box.jpg), url(../how-order/background_box.jpg);
    background-position: 350% 200%, left 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
