.classic-card {
    margin-left: 70px;
}



.classic-card__footer-text {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    bottom: 50px;
    font-weight: 400;
    color: #2d2829;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .classic-card {
        
        margin-left: 20px;
    }
    .classic-card__footer-text {
        font-size: 12px;
        bottom: 20px;
        margin-right: 72px
    }
    .classic-cake__img{
        width: 419px;
        height: 388px;
    }
}