
.kids-card {
    margin-left: 60px;
}


@media (min-width: 768px) and (max-width: 1024px){
    .kids-cake__img{
        width: 419px;
        height: 388px;
    }
    .kids-card {
        margin-left: 20px;
    }
}