.cakes_gallery__first-block {
    display: flex;
}
.cakes-gallery__cards-wrapper__little {
    margin-left: 60px;
}

@media (min-width: 768px) and (max-width: 1024px){
    .cakes-gallery__cards-wrapper__little {
        margin-left: 21px;
    }
    
}