.cakes_gallery__first-block {
    display: flex;
}
.little-cards {
    margin-left: 60px;
}

@media (min-width: 768px) and (max-width: 1024px){
    .little-cards {
        margin-left: 21px;
    }
    
}