@import './third-step__cakes.css';
@import './carousel-titles.css';
@import './carousel-card.css';
@import './input__order.css';
.step__content_third {
	height: 752px !important;
}
.carousel {
	display: flex;
	margin-top: -75px;
	.card {
		.step__btn_first {
			display: none;
		}
	}
}
.btn__order {
	width: 226px;
	height: 51px;
	margin-top: 30px;
}
@media (max-width: 1024px) {
	.step__content_third {
		height: 470px !important;
	}
	.btn__order {
		width: 160px;
		height: 43px;
		margin-top: 23px;
	}
}
@media (max-width: 767px) {
	.step__content_third {
		height: 800px !important;
	}
	.carousel {
		.card {
			.step__btn_first {
				display: block;
				margin-top: 30px;
				margin-left: 0px;
			}
		}
	}
	.btn__order {
		width: 226px;
		height: 51px;
		margin-top: 30px;
	}
}
