@import './first-step/first-step.css';
@import './second-step/second-step.css';
@import './third-step/third-step.css';

.step {
  margin: 49px 73px 35px;
  width: 1220px;
  height: 571px;
  background-color: #ffffff;
  box-shadow: 0px 5px 12.74px 0.26px rgba(139, 14, 62, 0.1);
}

.step__title {
  padding-top: 44px;
  margin-left: 83px;
  width: 130px;
}

.step__number {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 59px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #f50049;
}

.step__name {
  margin-top: 0px;
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #f50049;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .step {
    margin: 31px 20px 31px 20px;
    width: 728px;
    height: 348px;
  }

  .step__title {
    margin-left: 45px;
    width: 85px;
  }

  .step__number {
    padding-bottom: 8px;
    font-size: 36px;
  }

  .step__name {
    font-size: 18px;
  }
}