.tel {
    margin-right: 70px;
    font-weight: bold !important;
    font-family: 'Questrial', sans-serif;
}

@media (min-width: 768px) and (max-width: 1024px){
    .tel{
        margin-right: 46px;
        margin-left: 452px;
    }
  
}