.size__2kg {
  width: 154px;
  height: 154px;
  margin-left: 68px;
  padding-top: 45px;
  position: relative;
}

.size__label__2kg {
  top: 114px;
  left: 60px;
}

.second__descr {
  margin-left: 20px;
}