@import './cakes-gallery__title/cakes-gallery__title.css';
@import './cakes-gallery__first-block/cakes-gallery__first-block.css';
@import './cards/cards.css';
.cakes-gallery {
    min-height: 1520px;
    background-color: #fbebea;
}

.cakes-gallery__second {
    display: flex;
    margin-top: 45px;
}


.cakes-gallery__wrapper {
    margin-top: 65px;
}


.little-cards__second {
    margin-left: 72px;
}


.fa-arrow-right:before {
    color: #757575;
    display: block;
    margin: 24px;
    width: 17px;
}

.fa-arrow-right:hover::before {
    color: #9d6d7d;
}