@import './cakes-gallery__title/cakes-gallery__title.css';
@import './cakes-gallery__first-block/cakes-gallery__first-block.css';
@import './cards/cards.css';
.cakes-gallery {
    min-height: 1520px;
    background-color: #fbebea;
}

.cakes-gallery__second {
    display: flex;
    margin-top: 45px;
}


.cakes-gallery__wrapper {
    margin-top: 65px;
}


.cakes-gallery__cards-wrapper__little__second{
    margin-left: 72px;
}


.fa-arrow-right:before {
    color: #757575;
    display: block;
    margin: 24px;
    width: 17px;
}

.fa-arrow-right:hover::before {
    color: #9d6d7d;
}
@media (min-width: 768px) and (max-width: 1024px){
    .cakes-gallery {
        min-height: 893px;
    }

    .cakes-gallery__wrapper {
        margin-top: 37px;
    }
    .cakes-gallery__second {
        margin-top: 20px;
    }
    
    .fa-arrow-right:before {
        display: none;
    }
    .cakes-gallery__cards-wrapper__little__second {
        margin-left: 20px;
    }
    .cakes-gallery__img__big{
        width: 419px;
        height: 388px;
    }

    .cakes-gallery__img__little{
        width: 288px;
        height: 184px;
    }
    
}