.promo__btn {
    width: 226px;
    height: 51px;
    margin-top: 60px;
    margin-left: 75px;
}

@media (min-width: 768px) and (max-width: 1024px){
    .promo__btn {
        margin-top: 53px;
        margin-left: 47px;
    }
}