@import './about-us__text.css';
@import './about-us__social/about-us__social.css';

.about-us {
  padding-top: 175px;
  height: 600px;
  display: flex;
}
.about-us__wrapper {
  margin-left: 73px;
}

.about-us__header {
  font-family: 'Playfair Display', serif;
  margin-bottom: 33px;
  margin-top: 0;
  font-size: 40px;
  font-weight: 700;
  color: #2d2829;
}

.about-us__subtitle {
  font-family: 'Pacifico', cursive;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 400;
  color: #32313d;
}

.about-first {
  margin-top: 9px;
}
