.person__img {
  margin-left: 100px;
  margin-right: 54px;
  width: 209px;
  height: 209px;
}

.person__header {
  font-family: 'Questrial', sans-serif;
  margin: 0;
  font-size: 27px;
  font-weight: 700;
  color: #2d2829;
}

.person__subheader {
  font-family: 'Questrial', sans-serif;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  color: #2d2829;
}

.person__review {
  font-family: 'Questrial', sans-serif;
  font-size: 18.5px;
  line-height: 24px;
  font-weight: 400;
  width: 370px;
  color: #2d2829;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .person__img {
    width: 109px;
    height: 108px;
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 56px;
  }

  .person__header {
    font-size: 16px;
  }

  .person__subheader {
    margin-top: 2px;
    font-size: 14px;
  }

  .person__review {
    width: 260px;
    font-size: 14px;
  }
}