@import '../../cards/classic-card/classic-card.css';

.card {
    box-shadow: 5px 8.66px 13px 2px rgb(174, 174, 174);
    background-color: #FFFFFF;
}


.card:hover {
    box-shadow: 5px 8.66px 13px 2px rgba(255, 0, 67, 0.2);
}
.card__size_big {
    position: relative;
    width: 696px;
    height: 653px;
}

.card__size_big .card__img{
    width: 696px;
    height: 653px;
}

.card__size_little{
    position: relative;
    max-width: 484px;
    max-height: 305px;
}

.card__size_little .card__img{
    max-width: 484px;
    max-height: 305px;
}



.card__text {
    position: absolute;
}

.card__title {
    margin-top: 36px;
    margin-left: 49px;
    margin-bottom: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2d2829;
}

.card__number {
    margin-top: 12px;
    margin-bottom: 0;
    margin-left: 46px;
    opacity: 0.7;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2d2829
}

.card__footer {
    position: absolute;
    display: flex;
    bottom: 8px;
    right: 16px;
}

.cakes-gallery .card__size_little:first-child{
    margin-bottom: 41px;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .card__size_big,   .card__size_big .card__img {
        width: 419px;
        height: 388px;
    }
    .card__size_little, .card__size_little .card__img {
        width: 288px;
        height: 184px;
    }

    .card__title {
        margin-top: 23px;
        margin-left: 26px;
        font-size: 15px;
    }

    .card__number {
        margin-top: 6px;
        margin-left: 26px;
        font-size: 12px;
    }
    .cakes-gallery .card__size_little:first-child{
        margin-bottom: 20px;
    }
}